<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <i class="fas fa-home"></i>
    ARRENDAMIENTOS POCHOLO
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/units"><i class="fas fa-search"></i> Buscar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/units/add"><i class="fas fa-plus-square"></i> Ofrecer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/units/add"><i class="fas fa-plus-square"></i> Login</a>
      </li>
    </ul>
  </div>
</nav>





