<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ARRENDAMIENTOS POCHOLO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/units">Buscar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/units/add">Ofrecer</a>
      </li>
    </ul>
  </div>
</nav>

<select name="selectBarrios" id="barrios">
  <option value="Cualquiera" selected>Cualquiera</option>
  <div *ngFor = "let neig of neigs">
    <option> value = "{{neig.barrio}}">{{neig.barrio}}</option>
  </div> 
</select>
