<div id="button-container" class="col-md-8">
  <span>
      <button (click)="disminuirPos()"><i class="far fa-arrow-to-left"></i></button>

          <img src = {{images[position]}} class="img-fluid">

      <button (click)="aumentarPos()"><i class="far fa-arrow-to-right"></i></button>
  </span>
</div>
<div>
  <span>
      <div *ngFor = "let image of images">  
          <img src="image" class="img-thumbnail"> 
        </div>
  </span>

</div>
<div>
    <a role="button" (click)="disminuirPos()">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    </a>
    <a class="carousel-control-next" role="button" (click)="aumentarPos()">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
    </a>
</div>


<br><br>

<div class="table">
  <thead>
    <th scope="colgroup" colspan="2" class="text-center">
      Ficha Técnica
    </th>
  </thead>
  <tbody>
    <tr>
      <th>Barrio</th>
      <td>{{ unit.barrio }}</td>
    </tr>
    <tr>
      <th>Estrato</th>
      <td>{{unit.estrato}}</td>
    </tr>
    <tr>
      <th>Area</th>
      <td>{{unit.area}} m<sup>2</sup></td>
    </tr>
    <tr>
      <th>Valor Arriendo</th>
      <td>$ {{unit.valorCanon | number}}</td>
    </tr>
    <tr>
      <th>Habitaciones</th>
      <td>{{unit.habitaciones}}</td>
    </tr>
    <tr>
      <th>Baños</th>
      <td>{{unit.banios}}</td>
    </tr>
    <tr>
      <th>Tipo Cocina</th>
      <td>{{unit.tipoCocina}}</td>
    </tr>
    <tr>
      <th>Parqueadero</th>
      <td>{{unit.parqueadero}}</td>
    </tr>
    <tr>
      <th>Tipo Parqueadero</th>
      <td>{{unit.tipoParqueadero}}</td>
    </tr>
    <tr>
      <th>Dirección</th>
      <td>{{unit.direccion}}</td>
    </tr>
  </tbody>
</div>

