<div class="table col-md-4 offset-md-2">
  <thead>
    <th scope="colgroup" colspan="2" class="text-center">
      Ficha Técnica
    </th>
  </thead>
  <tbody>
    <tr>
      <th>Barrio</th>
      <td>{{ unit.barrio }}</td>
    </tr>
    <tr>
      <th>Estrato</th>
      <td>{{unit.estrato}}</td>
    </tr>
    <tr>
      <th>Area</th>
      <td>{{unit.area}} m<sup>2</sup></td>
    </tr>
    <tr>
      <th>Valor Arriendo</th>
      <td>$ {{unit.valorCanon | number}}</td>
    </tr>
    <tr>
      <th>Habitaciones</th>
      <td>{{unit.habitaciones}}</td>
    </tr>
    <tr>
      <th>Baños</th>
      <td>{{unit.banios}}</td>
    </tr>
    <tr>
      <th>Tipo Cocina</th>
      <td>{{unit.tipoCocina}}</td>
    </tr>
    <tr>
      <th>Parqueadero</th>
      <td>{{unit.parqueadero}}</td>
    </tr>
    <tr>
      <th>Tipo Parqueadero</th>
      <td>{{unit.tipoParqueadero}}</td>
    </tr>
    <tr>
      <th>Dirección</th>
      <td>{{unit.direccion}}</td>
    </tr>
  </tbody>
</div>

<div class="col-md-4">


      <img src = {{images[position]}} class="mainPicture">
      <a role="button" (click)="disminuirPos()"><i class="fas fa-angle-left"></i></a>
      <a role="button" (click)="aumentarPos()"><i class="fas fa-angle-right"></i></a>

      <div *ngFor="let image of unit.fotoPrincipal">
        <span>
            <img src = " {{image}}" class = "thumbPicture">
        </span>

        
      </div>
        
</div>





