<div class="container">
    <div class="row justify-content-center">
        <div class = "form-group">
            <p style = "text-align: center">Sector</p>
            <select name="neigs" class="form-control" [(ngModel)]="consultUnit.sector">
                <option value="Aranjuez" class="form-control">Aranjuez</option> 
                <option value="Belén" class="form-control">Belén</option> 
                <option value="Buenos Aires" class="form-control">Buenos Aires</option> 
                <option value="Castilla" class="form-control">Castilla</option> 
                <option value="Doce de Octubre" class="form-control">Doce de Octubre</option> 
                <option value="El Poblado" class="form-control">El Poblado</option> 
                <option value="Estadio" class="form-control">Estadio</option> 
                <option value="Guayabal" class="form-control">Guayabal</option> 
                <option value="La América" class="form-control">La América</option> 
                <option value="La Candelaria" class="form-control">La Candelaria</option> 
                <option value="Laureles" class="form-control">Laureles</option> 
                <option value="Manrique" class="form-control">Manrique</option> 
                <option value="Popular" class="form-control">Popular</option> 
                <option value="Robledo" class="form-control">Robledo</option> 
                <option value="San Javier" class="form-control">San Javier</option> 
                <option value="Santa Cruz" class="form-control">Santa Cruz</option> 
                <option value="Villa Hermosa" class="form-control">Villa Hermosa</option>                       
            </select>
        </div>
        <div class = "form-group">
            <p style = "text-align: center">Valor Arriendo</p>
            <input class = "typeNumber" type="text" id = "canonValueFrom" placeholder="Desde" [(ngModel)]="canonFrom" appMaskNumber>
            <input class = "typeNumber" type = "text" id = "canonValueP" placeholder="Hasta" [(ngModel)]="canonUntil" appMaskNumber>
        </div>
        <div class = "form-group">
            <p style = "text-align: center">Alcobas</p>
            <input type = "number" [(ngModel)]="consultUnit.habitaciones" style = "text-align: center" min="1" max="10"> 
        </div>
        <div class = "form-group">
            <p style = "text-align: center" >Baños</p>
            <input type = "number" [(ngModel)]="consultUnit.banios" style = "text-align: center" min="1" max="10">
        </div>
        <div class = "form-group" >
            <p style = "text-align: center">Parqueaderos</p>
            <input type = "number" [(ngModel)]="consultUnit.parqueadero" style = "text-align: center" min="0" max="5">
        </div>
    </div>
    <div class="row justify-content-center">
        <button class = "btn btn-success" (click) = "searchUnits()">Buscar</button>
    </div>
    <div>
        {{ mensaje }}
    </div>
</div>
<div>
    <br><hr>
</div>
<div class="col-md-4" *ngFor = "let unit of units">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <div>
                <p style="text-align: left">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <strong> Ubicación: </strong>{{unit.barrio}} <br>
                    Valor: $ {{unit.valorCanon | number}} <br>
                </p>
            </div>         
        </div>
        <a routerLink="/details/{{unit.id}}">
            <img src="{{unit.fotoPrincipal[0]}}" class="card-img-top">
        </a>
        
        <div class="card-body">
            <div>
                <p style="text-align: left">
                    <i class="fas fa-bed"></i>   {{unit.habitaciones}}  |  
                    <i class="fas fa-toilet"></i>   {{unit.banios}}  |  
                    <i class="fas fa-truck-pickup"></i>   {{unit.parqueadero}}<br>
                    Área: {{unit.area}} m<sup>2</sup> - Estrato {{unit.estrato}} <br>
                </p>
            </div> 
        </div>
    </div>    
</div>

