<div class="container">
    <div class="row justify-content-center">
        <div class = "form-group">
            <p style = "text-align: center">Sector</p>
            <select name="neigs" class="form-control">
                <option value="Aranjuez" class="form-control">Aranjuez</option> 
                <option value="Belén" class="form-control">Belén</option> 
                <option value="Buenos Aires" class="form-control">Buenos Aires</option> 
                <option value="Castilla" class="form-control">Castilla</option> 
                <option value="Doce de Octubre" class="form-control">Doce de Octubre</option> 
                <option value="El Poblado" class="form-control">El Poblado</option> 
                <option value="Estadio" class="form-control">Estadio</option> 
                <option value="Guayabal" class="form-control">Guayabal</option> 
                <option value="La América" class="form-control">La América</option> 
                <option value="La Candelaria" class="form-control">La Candelaria</option> 
                <option value="Laureles" class="form-control">Laureles</option> 
                <option value="Manrique" class="form-control">Manrique</option> 
                <option value="Popular" class="form-control">Popular</option> 
                <option value="Robledo" class="form-control">Robledo</option> 
                <option value="San Javier" class="form-control">San Javier</option> 
                <option value="Santa Cruz" class="form-control">Santa Cruz</option> 
                <option value="Villa Hermosa" class="form-control">Villa Hermosa</option>                       
            </select>
        </div>
        <div class = "form-group col-md-4">
            <p style = "text-align: center">Valor Arriendo</p>
            <input type="text" id = "canonValueFrom" placeholder="Desde">
            <input type = "text" id = "canonValueP" placeholder="Hasta">
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class = "form-group">
            <app-set-number title="Alcobas"></app-set-number>
        </div>
        <div class = "form-group">
            <app-set-number title="Baños"></app-set-number>
        </div>
        <div class = "form-group">
            <app-set-number title="Parqueaderos"></app-set-number>
        </div>
        <div class = "form-group">
            <app-set-number title="Estrato"></app-set-number>
        </div>
        <button class = "btn btn-success">Buscar</button>
    </div>
</div>

