<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                 <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <p>Inicio de Sesión</p>
                     </div>
                </div>
               <form  name="Inicio de Sesión">
                       <div class="form-group">
                          <label>Usuario</label>
                          <input type="text" name="user"  class="form-control" id="user" #user>
                       </div>
                       <div class="form-group">
                          <label>Contraseña</label>
                          <input type="password" name="password" id="nPass"  class="form-control" #password>
                       </div>
                       <div class="col-md-12 text-center ">
                          <button  (click)="iniciarSesion(user,password)"class="btn btn-block btn-success">Iniciar Sesión </button>
                       </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
  </div>
