<div class="container" *ngIf="!user">
    <br>
    <div class="text-center">
        <img src="https://1.bp.blogspot.com/-Vju3PlmCJzU/Vw5W7SE2j8I/AAAAAAAAAkU/8UbVxJH2Rek009-B7p2o_XjEAx_ZaqoEACLcB/s640/decoracion-sala-living-black-and-white-blanco-negro-estilo-moderno-dise%25C3%25B1o-tendencias-hogar-color-tips-hermoso-5.jpg" class="mainPicture">
        <br><br>
    </div>
</div>
<div class="container" *ngIf="!user">
    <p style="text-align:center">
        Bienvenido a Arrendamientos Pocholo
    </p>
    <p style="text-align: center" *ngIf="!user">
        Registrate con nostros
    </p>
</div>
<div>
    <hr>
</div>
<br>
<div class="container">
    <h1 style="text-align:center">
        Estas propiedades te pueden interesar
    </h1>
</div>

<div class="col-md-4" *ngFor = "let unit of units">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <div>
                <p style="text-align: left">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <strong> Ubicación: </strong>{{unit.barrio}} <br>
                    Valor: $ {{unit.valorCanon | number}} <br>
                </p>
            </div>         
        </div>
        <a routerLink="/details/{{unit.id}}">
            <img src="{{unit.fotoPrincipal[0]}}" class="card-img-top">
        </a>
        
        <div class="card-body">
            <div>
                <p style="text-align: left">
                    <i class="fas fa-bed"></i>   {{unit.habitaciones}}  |  
                    <i class="fas fa-toilet"></i>   {{unit.banios}}  |  
                    <i class="fas fa-truck-pickup"></i>   {{unit.parqueadero}}<br>
                    Área: {{unit.area}} m<sup>2</sup> - Estrato {{unit.estrato}} <br>
                </p>
            </div> 
        </div>
    </div>    
</div>
