<div class="col-md-4" *ngFor = "let unit of units">
    <div class="card text-center">
        <div class="card-header bg-dark text-white i-flex justify-content-between">
            <p style="text-align: left">
                    <i class="fas fa-map-marker-alt" style="color:red"></i>
                    {{unit.barrio}}
                    $ {{unit.valorCanon | number}} <br>
            </p>

            
        </div>
        <a routerLink="/details">
            <img src="{{unit.fotoPrincipal}}" class="card-img-top">
        </a>
        
        <div class="card-body">
            <p style="text-align: left">
                <i class="fas fa-bed"></i>   {{unit.habitaciones}}  |  
                <i class="fas fa-toilet"></i>   {{unit.banios}}  |  
                <i class="fas fa-truck-pickup"></i>   {{unit.parqueadero}}<br>
                Área: {{unit.area}} m<sup>2</sup> - Estrato {{unit.estrato}} <br>
            </p>
        </div>
    </div>    
</div>
